.alert.alert-danger.alert-dismissible(role="alert")
    button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
    span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
    span.sr-only Error:
    |  #{val.msg}