extends ./template.pug

block content
    .container
        .jumbotron
            .container
                .row
                    h1 EmergencySupplySystem
                    p.
                        This system makes the communication between the hospitals and the people better in the time of emergency
                .row.right
                    .row
                        .col-sm-2
                            a.btn.btn-primary.btn-lg(href="/admin/login") Admin Login!
                        .col-sm-2
                            a.btn.btn-primary.btn-lg(href="/admin/signup") Admin Signup!