extends ../template.pug

block content
    // a really simple error page
    .container
        .row
            h1.text-danger 500! ERROR!
            h3.text-warning.
                Sorry for inconvenience.
            h4.text-success Hold your seats while we fix the problem.